<a href="https://colab.research.google.com/github/AnhelinaKavaliova/task2/blob/main/assignment_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [1]:
import pandas as pd

In [2]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [3]:
data.groupby('sex').size()

sex
Female    10771
Male      21790
dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [8]:
data[data['sex'] == 'Male']['age'].mean()

39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [19]:
us_citizens = data[data['native-country'] == 'United-States'].shape[0]/data.shape[0]
us_citizens *= 100
print(f'{us_citizens:.2f}%')

89.59%

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [22]:
mean_age_more = data[data['salary'] == '>50K']['age'].mean()
std_age_more = data[data['salary'] == '>50K']['age'].std()

mean_age_less = data[data['salary'] == '<=50K']['age'].mean()
std_age_less = data[data['salary'] == '<=50K']['age'].std()

print("Mean age of those who earn more than 50k: ", mean_age_more)
print("Std age of those who earn more than 50k: ", std_age_more)
print("Mean age of those who earn less than 50k: ", mean_age_less)
print("Std age of those who earn less than 50k: ", std_age_less)

Mean age of those who earn more than 50k:  44.24984058155847
Std age of those who earn more than 50k:  10.519027719851826
Mean age of those who earn less than 50k:  36.78373786407767
Std age of those who earn less than 50k:  14.02008849082488

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [24]:
high_income = data[data['salary'] == '>50K']
high_education_all = high_income['education'].isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']).all()
high_education_all

False

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [26]:
age_stat = data.groupby(['race','sex']).describe()
age_stat

                               age                                          \
                             count       mean        std   min   25%   50%
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                                         fnlwgt                 ...  \
                             75%   max    count           mean  ...
race               sex                                          ...
Amer-Indian-Eskimo Female  46.00  80.0    119.0  112950.731092  ...
                   Male    45.00  82.0    192.0  125715.364583  ...
Asian-Pac-Islander Female  43.75  75.0    346.0  147452.075145  ...
                   Male    46.00  90.0    693.0  166175.865801  ...
Black              Female  46.00  90.0   1555.0  212971.387781  ...
                   Male    46.00  90.0   1569.0  242920.644997  ...
Other              Female  39.00  74.0    109.0  172519.642202  ...
                   Male    42.00  77.0    162.0  213679.104938  ...
White              Female  46.00  90.0   8642.0  183549.966906  ...
                   Male    49.00  90.0  19174.0  188987.386148  ...

                          capital-loss         hours-per-week             \
                                   75%     max          count       mean
race               sex
Amer-Indian-Eskimo Female          0.0  1721.0          119.0  36.579832
                   Male            0.0  1980.0          192.0  42.197917
Asian-Pac-Islander Female          0.0  2258.0          346.0  37.439306
                   Male            0.0  2457.0          693.0  41.468975
Black              Female          0.0  4356.0         1555.0  36.834084
                   Male            0.0  2824.0         1569.0  39.997451
Other              Female          0.0  1740.0          109.0  35.926606
                   Male            0.0  2179.0          162.0  41.851852
White              Female          0.0  4356.0         8642.0  36.296691
                   Male            0.0  3770.0        19174.0  42.668822


                                 std  min   25%   50%   75%   max
race               sex
Amer-Indian-Eskimo Female  11.046509  4.0  35.0  40.0  40.0  84.0
                   Male    11.596280  3.0  40.0  40.0  45.0  84.0
Asian-Pac-Islander Female  12.479459  1.0  35.0  40.0  40.0  99.0
                   Male    12.387563  1.0  40.0  40.0  45.0  99.0
Black              Female   9.419960  2.0  35.0  40.0  40.0  99.0
                   Male    10.909413  1.0  40.0  40.0  40.0  99.0
Other              Female  10.300761  6.0  30.0  40.0  40.0  65.0
                   Male    11.084779  5.0  40.0  40.0  40.0  98.0
White              Female  12.190951  1.0  30.0  40.0  40.0  99.0
                   Male    12.194633  1.0  40.0  40.0  50.0  99.0

[10 rows x 48 columns]

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [37]:
high_income_men = data[(data['salary'] == '>50K') & (data['sex'] == 'Male')]
married_men_mask = high_income_men['marital-status'].str.startswith('Married')

married_men_frac = high_income_men[married_men_mask].shape[0]/high_income_men.shape[0]
single_men_frac = high_income_men[~married_men_mask].shape[0]/high_income_men.shape[0]

if married_men_frac > single_men_frac:
  print("More men with a salary >50k among married people")
else: print("More men with a salary >50k among single people")

More men with a salary >50k among married people

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [46]:
max_work_hours = data['hours-per-week'].max()
max_work_hours_people = data[data['hours-per-week'] == max_work_hours]
high_income_max_work = max_work_hours_people[max_work_hours_people['salary'] == '>50K'].shape[0]
percent_high_income_max_work_hours_people = (high_income_max_work/max_work_hours_people.shape[0]) *100

print("Max number of hours a person works per week: ", max_work_hours)
print("People work max number of hours per week: ", max_work_hours_people.shape[0])
print(f"Percent people work max number of hours per week: {percent_high_income_max_work_hours_people:.2f}%")

Max number of hours a person works per week:  99
People work max number of hours per week:  85
Percent people work max number of hours per week: 29.41%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [51]:
high_income = data[data['salary'] == '>50K']
low_income = data[data['salary'] == '<=50K']

high_income_hours = high_income.groupby('native-country')['hours-per-week'].mean()
low_income_hours = low_income.groupby('native-country')['hours-per-week'].mean()

print("Mean number of hours work for high inxome by country:", high_income_hours)
print("Mean number of hours work for low income by country:", low_income_hours)

Mean number of hours work for high inxome by country: native-country
?                     45.547945
Cambodia              40.000000
Canada                45.641026
China                 38.900000
Columbia              50.000000
Cuba                  42.440000
Dominican-Republic    47.000000
Ecuador               48.750000
El-Salvador           45.000000
England               44.533333
France                50.750000
Germany               44.977273
Greece                50.625000
Guatemala             36.666667
Haiti                 42.750000
Honduras              60.000000
Hong                  45.000000
Hungary               50.000000
India                 46.475000
Iran                  47.500000
Ireland               48.000000
Italy                 45.400000
Jamaica               41.100000
Japan                 47.958333
Laos                  40.000000
Mexico                46.575758
Nicaragua             37.500000
Peru                  40.000000
Philippines           43.032787
Poland                39.000000
Portugal              41.500000
Puerto-Rico           39.416667
Scotland              46.666667
South                 51.437500
Taiwan                46.800000
Thailand              58.333333
Trinadad&Tobago       40.000000
United-States         45.505369
Vietnam               39.200000
Yugoslavia            49.500000
Name: hours-per-week, dtype: float64
Mean number of hours work for low income by country: native-country
?                             40.164760
Cambodia                      41.416667
Canada                        37.914634
China                         37.381818
Columbia                      38.684211
Cuba                          37.985714
Dominican-Republic            42.338235
Ecuador                       38.041667
El-Salvador                   36.030928
England                       40.483333
France                        41.058824
Germany                       39.139785
Greece                        41.809524
Guatemala                     39.360656
Haiti                         36.325000
Holand-Netherlands            40.000000
Honduras                      34.333333
Hong                          39.142857
Hungary                       31.300000
India                         38.233333
Iran                          41.440000
Ireland                       40.947368
Italy                         39.625000
Jamaica                       38.239437
Japan                         41.000000
Laos                          40.375000
Mexico                        40.003279
Nicaragua                     36.093750
Outlying-US(Guam-USVI-etc)    41.857143
Peru                          35.068966
Philippines                   38.065693
Poland                        38.166667
Portugal                      41.939394
Puerto-Rico                   38.470588
Scotland                      39.444444
South                         40.156250
Taiwan                        33.774194
Thailand                      42.866667
Trinadad&Tobago               37.058824
United-States                 38.799127
Vietnam                       37.193548
Yugoslavia                    41.600000
Name: hours-per-week, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [57]:
def get_age_group(age):
    if 16 <= age < 35:
        return 'young'
    elif 35 <= age < 70:
        return 'adult'
    elif 70 <= age <= 100:
        return 'retiree'
    else:
        return 0

data['AgeGroup'] = data['age'].apply(get_age_group)
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,AgeGroup
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,adult
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,adult
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,adult
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,adult
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,young

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [65]:
high_income = data[data['salary'] == '>50K']

high_income_agegroups = high_income.groupby('AgeGroup').size()
total_agegroups = data.groupby('AgeGroup').size()
high_income_agegroups_frac = high_income_agegroups/total_agegroups

print("Number of earners >50K in each age group:\n",high_income_agegroups )
print("Age group where people most often earn more than 50K:", high_income_agegroups_frac.idxmax())

Number of earners >50K in each age group:
 AgeGroup
adult      6240
retiree     113
young      1488
dtype: int64
Age group where people most often earn more than 50K: adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [76]:
grouped_occupation = data.groupby('occupation')
occupation_size = grouped_occupation.size()

def filter_func(groups):
  valid_groups = []

  for name_group, group in groups:
    if group['age'].mean() <= 40 and (group['hours-per-week'] > 5).all():
      valid_groups.append(name_group)

  return valid_groups

print("Number of people in each group: \n", occupation_size)
print("Valid groups: ", filter_func(grouped_occupation))

Number of people in each group:
 occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
dtype: int64
Valid groups:  ['Armed-Forces']